
body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cuerpo{
    background-color: black;
    color: white;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.form {
    display: flex;
    flex-direction: column;
    vector-effect: non-scaling-stroke;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    width: 95%;
    height: 97%;
    transition: 0.4s ease-in-out;

}

.card {
    background-image: linear-gradient(163deg, #ffa600 0%, #ffffff 100%);
    border-radius: 22px;
    transition: all 0.3s;
    width: 30rem;
    height: 35rem;
}

.card2 {
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    width: 99%;
    height: 100%;
    margin-top: 15px;
}

.card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px rgb(255, 174, 0);
}

#heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #ffffff;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    height: 10%;
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #000000;
}

.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 60%;
}

.button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
}

.button1:hover {
    background-color: black;
    color: white;
}

.button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
}

.button2:hover {
    background-color: black;
    color: white;
}

.button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: #252525;
    color: white;
}

.button3:hover {
    background-color: red;
    color: white;
}
